body {
  color: rgb(85, 172, 167);
}
form {
  margin: 5px auto;
}
h1,
h2,
h4 {
  margin: 0 auto;
}
input {
  border: 1px solid rgb(116, 153, 151);
}
.bottom,
.top {
  background-color: rgb(236, 247, 246);
}
#change-city {
  max-width: 75%;
}
#change-city::placeholder {
  color: 116, 153, 151;
}
.change-format {
  font-size: 20px;
  color: rgb(116, 153, 151);
  text-decoration: none;
}
.change-format .non-active {
  color: rgba(116, 153, 151, 0.4);
}
.change-format:hover {
  color: rgb(116, 153, 151);
}
#city-form {
  font-size: 15px;
}
.container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 700px;
  padding: 0;
}
.col-2,
.top {
  border: 1px solid rgba(116, 153, 151, 0.5);
}
.col-2 {
  border-top: none;
}

#current-button {
  color: rgb(85, 172, 167);
  font-weight: 500;
  display: block;
  margin: 5% auto;
  border: 1px solid rgb(85, 172, 167);
}
#current-description {
  font-size: 18px;
  margin: 7px auto;
  text-decoration: underline;
}
#current-description:first-letter {
  text-transform: capitalize;
}
.current-details {
  padding: 15% 0;
  line-height: 45px;
  font-size: 18px;
}
#current-icon {
  background-color: rgba(116, 153, 151, 0.31);
  display: block;
  margin: 5px auto;
  width: 150px;
  border-radius: 40px;
}
.current-location {
  font-size: 35px;
  line-height: 1;
  margin-bottom: 5%;
  position: relative;
  top: 10px;
}
.current-main {
  margin-top: 7px;
  color: rgb(116, 153, 151);
}
.current-temp {
  font-size: 50px;
}
.current-time {
  font-size: 15px;
  text-decoration: none;
}

.footer {
  font-size: 12px;
  margin-top: 10px;
  position: relative;
  left: -12px;
  text-align: left;
}

.forecast {
  font-size: 15px;
  margin: 3px 0 auto;
}
.forecast-icon {
  background-color: rgba(116, 153, 151, 0.31);
  border-radius: 17px;
  display: block;
  margin: 5px auto;
  width: 50px;
}
#go {
  color: rgb(85, 172, 167);
  font-weight: 500;
}
.location-mark {
  display: inline;
  font-size: 15px;
  max-width: 15px;
  padding: 0;
}
.temperature-forecast {
  font-weight: 600;
}
.under-construction {
  text-align: center;
  font-size: 25px;
}
